* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-family: Verdana, Arial, sans-serif;
}

footer {
    background-color: orange;
}

li[class^='lista-informacion'], li[class*=' lista-informacion']{
    margin-bottom: 0.5em;
}

.follow-us-and-copyright-information {
    position: relative;
}

#follow-us {
    display: inline-block;
    position: absolute;
}

#copyright {
    display: inline-block;
    position: absolute;
    right: 0;
}