* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-family: Verdana, Arial, sans-serif;
}

.main-title {
    width: 50%;
    font-size: 2.5rem;
    text-align: center;
    margin: 7rem auto 0 auto;
}


/* -------------FORM------------- */

.user-form {
    font-size: 1.6rem;
    text-align: center;
}

.user-form .labels-container, .user-form .inputs-container {
    display: inline-block;
    text-align: left;
}

.labels-container {
    margin-right: 2rem;
}

.inputs-container {
    margin-left: 2rem;
}

.user-form label, .user-form input {
    display: block;
    margin: 5rem 0;
}

.user-form input {
    display: block;
    font-size: 1.4rem;
    height: 2rem;
    border: black solid 1px;
    width: 25rem;
}

.user-form input:focus {
    background-color: #eeeeee;
}


/* -------------BUTTONS------------- */

.buttons-container {
    width: 100%;
    display: block;
    text-align: center;
}

.cancel-button, .submit-button {
    display: inline-block;
    font-size: 1.2rem;
    width: 20%;
    padding: 1rem;
    margin: 0 3rem 2rem 3rem;
    text-align: center;
}

.cancel-button:hover, .submit-button:hover {
    cursor: pointer;
}

.cancel-button {
    background-color: red;
    color: white;
}

.submit-button {
    background-color: limegreen;
}


/* -------------LINK TO LOGIN / SIGNUP------------- */

.already-paragraph {
    display: inline;
}

.already-div {
    text-align: center;
    font-size: 1.5rem;
}

#go-to-login-signup {
    text-decoration: none;
    color: darkorange;
}



