/* RESET CSS DEFAULT BEHAVIOUR */

* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: inherit;
    font-family: Verdana, Arial, sans-serif;
}

/* Modificaciones a los estilos de los SELECTORES por defecto (header, nav, a, img, etc) */

#wrapper {
    margin: 0 auto;
    /* width: 1920px; */
}

nav a:not(.user-icon):hover {
    background-color: darkorange;
}

a {
    text-decoration: none;
}

/* Modificaciones a los elementos tipo CLASE (.class) */

.lista-paginas {
    list-style-type: none;
}

.user-icon {
    margin-right: 5vw;
}

.user-icon:hover img {
    transform: scale(1.2, 1.2);
}

ul li[class^='lista-paginas'], li[class*=' lista-paginas']{
    display: inline-block;
}

.slide-image {
    width: 60vw;
    height: 32vw;
    margin: 0 auto;
    /* border: 1px solid purple; */
}

.slide-image-thing {
    position: relative;
    /* border: 3px solid red; */
    width: 50vw;
    height: 30vw;
    margin: 2vw auto;
    text-align: center;
}

.slide-image-thing img {
    position: relative;
    display: block;
    /* border: 3px solid red; */
    width: 100%;
    height: 100%;
    border-radius: 8px;
    filter: brightness(50%)
}

.slide-image-thing__center-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 30px;
}

.slide-image-thing__center-text-p {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 15px;
}

.reserva {
    border: 3px solid black;
    background-color: orange;
    width: 500px;
    height: 100px;
    margin: 3em auto;
}

.reserva h2 {
    display: block;
    margin: 0 auto;
    text-align: center;
    padding-top: 1.5em;
}

.about-us {
    height: 30vw;
}

.about-us h2 {
    text-align: center;
    margin-top: 1em;
    margin-bottom: 3em;
}

.about-us-description {
    width: 40%;
    float: left;
    padding-left: 4em;
}

.about-us-image {
    width: 40%;
    float: right;
    padding-right: 4em;
}

.about-us-image img {
    height: 100%;
    width: 100%;
    border-radius: 8px;
}

/* Modificaciones a los elementos tipo ID (#id) */

#la-nostra-cosa-nav-button {
    display: inline-blocK;
    font-size: 2.2rem;
    line-height: 2.2rem;
    padding: 1.25rem;
}

#la-nostra-cosa-nav-button a {
    color: black;
    float: left;
}

#la-nostra-cosa-nav-button:hover {
    font-size: 2.5rem;
}

#user-icon {
    height: 2.2rem;
    width: 2.2rem;
}

#slide-image__left-arrow, #slide-image__right-arrow {
    position: relative;
    width: 2vw;
    height: 2vw;
    display: block;
    /* border: 3px solid blue; */
    padding: 14vw 0;
}

#slide-image__left-arrow {
    float: left;
    padding-left: 1vw;
}

#slide-image__right-arrow {
    float: right;
    padding-right: 1vw;
}

/* Modificaciones a los elementos tipo PSEUDO-CLASE (comportamiento de los selectores, :hover, :active, :default, :etc) */

nav a:not(.user-icon):hover {
    background-color: darkorange;
}

/* FOOTER STYLES */

#footer-container {
    background-color: lightgrey;
    width: 100%;
    height: 300px;
}

.vertical-list, .horizontal-list {
    list-style-type: none;
}

.vertical-list li, .horizontal-list li {
    padding: 0.5rem;
}

.vertical-list {
    text-align: center;
}

.horizontal-list {
    width: 100%;
    padding-bottom: 0.8rem;
}

.horizontal-list li {
    display: inline-block;
}

.social-media-icon {
    transform: translateY(25%);
}

.social-media-icon img {
    width: 3rem;
}

/* NAV BAR CONTAINER */

#nav-bar-container {
    display: block;
    /* position: fixed; */
    top: 0;
    left: 0;
    width: 100%;
    background-color: orange;
}

a {
    text-decoration: none;
}

#la-nostra-casa-nav-button {
    display: inline-blocK;
    font-size: 2.2rem;
    line-height: 2.2rem;
    padding: 1.25rem;
}

#la-nostra-casa-nav-button:hover {
    font-size: 2.5rem;
}

.lista-paginas {
    list-style-type: none;
}

li[class^='lista-paginas'], li[class*=' lista-paginas'] {
    display: inline-block;
}

#la-nostra-casa-nav-button a {
    color: white;
}

nav {
    float: right;
}

nav a {
    display: block;
    color: black;
    margin: 0 1.5vw;
    padding: 1.25rem;
    line-height: 2.2rem;
    font-size: 1.1rem;
}

nav a:not(.user-icon):hover {
    background-color: darkorange;
}

.user-icon {
    margin-right: 5vw;
}

.user-icon:hover img {
    transform: scale(1.2, 1.2);
}

#user-icon {
    position: absolute;
    height: 2.2rem;
    width: 2.2rem;
}

.main-content h2 {
    text-align: center;
    margin: 2em 0;
}

.main-content__left-side {
    float: left;
    width: 50%;
    background-color: lightgrey;
}

.main-content__left-side h3, .main-content__right-side h3 {
    font-size: 1.5em;
    line-height: 3em;
}

.main-content__left-side p {
    line-height: 2em;
}

.main-content__right-side p {
    line-height: 2em;
}

.main-content__right-side {
    float: right;
    width: 50%;
    background-color: lightgrey;
}

.main-content:after {
    content: "";
    display: table;
    clear: both;
}