* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-family: Verdana, Arial, sans-serif;
}

header {
    display: block;
    position: sticky;
    width: 100%;
    background-color: orange;
}

a {
    text-decoration: none;
}

#la-nostra-cosa-nav-button {
    display: inline-blocK;
    font-size: 2.2rem;
    line-height: 2.2rem;
    padding: 1.25rem;
}

#la-nostra-cosa-nav-button:hover {
    font-size: 2.5rem;
}

.lista-paginas {
    list-style-type: none;
}

li[class^='lista-paginas'], li[class*=' lista-paginas']{
    display: inline-block;
}

#la-nostra-cosa-nav-button a {
    color: white;
}

nav {
    float: right;
}

nav a {
    display: block;
    color: black;
    margin: 0 1.5vw;
    padding: 1.25rem;
    line-height: 2.2rem;
    font-size: 1.1rem;
}

nav a:not(.user-icon):hover {
    background-color: darkorange;
}

.user-icon {
    margin-right: 5vw;
}

.user-icon:hover img {
    transform: scale(1.2, 1.2);
}

img {
    position: absolute;
    top: 25%;
    height: 2.2rem;
    width: 2.2rem;
}

