* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Arial, sans-serif;
}

.nav-bar {
    background-color: orange;
    height: 3vw;
    display: block;
}

.nav-bar a {
    text-decoration: none;
    color: white;
}

.main-title {
    float: left;
}

nav {
    float: right;
}

ul {
    list-style-type: none;
}

.nav-list li {
    display: inline;
}

#reservations-title {
    margin-top: 7vw;
    text-align: center;
}

/* -------------TABLE------------- */

.reservations-table {
    width: 80%;
    margin: 5% auto;
    box-sizing: border-box;
    border-collapse: collapse;
}

.reservations-table th, .reservations-table td {
    padding: 1%;
    border: 1px solid lightgrey;
}

.reservations-table th {
    font-size: 1.3vw;
    background-color: orange;
    color: white;
}

.reservations-table td {
    text-align: center;
    font-size: 1vw;
}

.reservations-table tr:nth-child(odd) {
    background-color: #f6f6f6;
}

.reservations-table tr:hover {
    background-color: #dddddd;
}


/* -------------BUTTONS------------- */

.management-button {
    display: block;
    font-size: 1vw;
    width: 20%;
    padding: 1vw;
    text-align: center;
    text-decoration: none;
    float:left;
}

.new-res-button {
    color: black;
    background-color: limegreen;
    margin: 3% 17% 0 3%;
}

.cancel-res-button {
    color: white;
    background-color: red;
    margin-top: 3%;
}

.back-button {
    color: black;
    background-color: #e5c705;
    margin: 3% 3% 0 17%;
}

