* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-family: Verdana, Arial, sans-serif;
}

#reservations-title {
    margin-top: 10rem;
    text-align: center;
    font-size: 2.5rem;
}

button:hover {
    cursor: pointer;
}

/* -------------TABLE------------- */

.reservations-table {
    width: 70vw;
    margin: 4vw auto 3vw auto;
    box-sizing: border-box;
    border-collapse: collapse;
}

.reservations-table th, .reservations-table td {
    padding: 0.8vw;
    border: 1px solid lightgrey;
}

.reservations-table th {
    font-size: 1.3vw;
    background-color: orange;
    color: white;
}

.reservations-table td {
    text-align: center;
    font-size: 1vw;
}

/*.reservations-table tr:nth-child(odd) {
    background-color: #fafafa;
}*/

.reservations-table tr:not(.title-row):not(.empty-row):hover {
    cursor: pointer;
}

.reservations-table tr:not(.selected-row):not(.title-row):not(.empty-row):hover {
    background-color: #eeeeee;
}

.selected-row {
    background-color: rgba(255, 165, 0, 0.7);
}

.empty-row {
    background-color: #dddddd;
}

/* -------------BUTTONS------------- */

.management-button {
    display: block;
    font-size: 1vw;
    width: 20%;
    padding: 1vw;
    text-align: center;
    text-decoration: none;
    float: left;
}

.new-res-button {
    color: black;
    background-color: limegreen;
    margin: 3% 17% 0 3%;
}

.new-res-button[disabled] {
    background-color: lightgreen;
    cursor: default;
}

.cancel-res-button {
    color: white;
    background-color: red;
    margin-top: 3%;
}

.cancel-res-button[disabled] {
    background-color: indianred;
    cursor: default;
}

.back-button {
    color: black;
    background-color: #e5c705;
    margin: 3% 3% 0 17%;
}


/* -------------CONFIRMATION DIALOG------------- */

.confirmation-dialog {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    border: orange solid 3px;
    padding: 1rem;
    width: 60%;
    height: 50%;
    text-align: center;
}

.confirmation-dialog p {
    font-size: 1rem;
    font-weight: bold;
    padding-bottom: 1rem;
}

.dialog-button {
    padding: 1rem 3rem;
    margin: 2rem;
}

.yes-button {
    background-color: red;
    color: white;
}

.no-button {
    background-color: limegreen;
}


