<footer id="footer-container">
    <ul class="vertical-list">
        <li>Abierto de lunes a domingo de 13:00 - 16:00 y 20:00 - 23:30</li>
        <li>Teléfono de contacto: +34123456789</li>
        <li>Correo electrónico: contacto@lanostracasa.com</li>
        <li>Calle Triana / 30, Las Palmas de Gran Canaria</li>
        <li>Abierto de lunes a domingo de 13:00 - 16:00 y 20:00 - 23:30</li>
    </ul>
    <ul class="horizontal-list">
        <li>Síguenos en:</li>
        <li class="social-media-icon"><img src="/images/user-icon.png" alt="User icon"></li>
        <li class="social-media-icon"><img src="/images/user-icon.png" alt="User icon"></li>
        <li class="social-media-icon"><img src="/images/user-icon.png" alt="User icon"></li>
        <li>La Nostra Casa&#8482; todos los derechos reservados</li>
    </ul>
</footer>